.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reset-password h1 {
  font-size: 26px;
  font-weight: 500;
  font-family: Inter;
  padding-left: 25.5px;
}

.button-password h5 {
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  color: #5db075;
  padding-left: 0;
}

.resetpw-headline {
  display: flex;
  flex-direction: row;
  margin-left: -50px;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.rp.text {
  font: inter;
  color: #666666;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 1em;
  width: 18rem;
  height: 5em;
}

.pw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.overlay {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup-text {
  text-align: center;
  margin: 2rem;
}

.popup-image {
  width: 3rem;
}

.container-popup {
  position: fixed;
  top: 25%;
  left: 15%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  border: transparent;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6.5px;
  box-shadow: 0px 1.63848px 16.3848px rgba(38, 36, 131, 0.25);
}

.close-cross {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 87%;
  top: 15px;
  border: none;
  background-color: white;
}

.done-button {
  margin-top: 10px;
  font-family: Inter;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: transparent;
  height: 50px;
  border-radius: 80px;
  border: 1px solid rgba(102, 102, 102, 0.3);
  width: 80%;
  background-color: #5db075;
}
