.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reset-password h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: Inter;
  padding-left: 25.5px;
}

.reset-password h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  line-height: 1;
}

.reset-password h3 {
  font-size: 13px;
  font-weight: 400;
  font-family: Inter;
  margin-bottom: 0;
}

.reset-password h4 {
  font-size: 11px;
  font-weight: 500;
  font-family: Inter;
  color: #5db075;
  margin-top: 5px;
}

.reset-password h5 {
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  color: #5db075;
  padding-left: 0;
}

.resetpw-headline {
  display: flex;
  flex-direction: row;
  margin-left: -50px;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.back-button-rp {
  background: none;
  padding: 0;
  border: none;
  text-decoration: none;
  color: #5db075;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rp.text {
  font: inter;
  color: #666666;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 1em;
  width: 18rem;
  height: 5em;
}

.rp.email {
  width: 343px;
  height: 50px;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  background-color: #f6f6f6;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  width: 18rem;
  display: flex;
  align-self: center;
}
