.button { 
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
}

.sign-up.button {
    font-weight: bold;
    color: white;
    border: none;
    margin-bottom: 10px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    background-color: #5DB075;
}

#facebook {
    background-color: #3362AD;
}

#google {
    background-color: #ECA098;
}