.login-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexbox-container-start {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	width: 375px;
	height: 667px;
	background-image: url("../../Assets/StartScreenBG.png");
}

.applogo {
	position: absolute;
	align-items: center;
	top: 31%;
}

.login-button {
	border: none;
	outline: none;
	background-color: transparent;
	position: absolute;
	top: 5%;
	right: 6%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1em;
}

.sign-up-button {
	position: relative;
	align-items: center;
	width: 250px;
	height: 40px;
	border-radius: 100px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	border: none;
	color: white;
	margin-bottom: 10px;
}

.buttonIcon {
	position: absolute;
	left: 5%;
	top: 25%;
	height: 22px;
	width: 22px;
}

.sign-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.4em;
}

.link {
	text-decoration: none;
	color: white;
}

#email {
	background-color: #5db075;
}

#facebook {
	background-color: #3362ad;
}

#google {
	background-color: #eca098;
}
