.container-circle {
	height: 8.5em;
	margin: 0 0 0.4em 0;
}

.legend-stats {
	display: flex;
	position: relative;
	align-items: center;
	margin: 0 0 0.5em 0;
}

.chartLegend p {
	margin: 0 0 0 0.4em;
}

.level-graphic {
	width: 10em;
	margin-top: 1em;
	height: auto;
}

.pieChartText {
	text-align: left;
}

.level-headline {
	font-weight: 800;
}

.level-description {
	margin-top: 0.5em;
}
